.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--s-text-m);

  &__link {
    margin: 0 var(--margin-padding) 0 var(--margin-padding);
    padding: var(--margin-padding);

    min-width: 110px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    color: var(--c-gray);
    transition: 0.2s linear all;
    font-weight: 700;

    &:hover {
      border-bottom: 1px solid var(--c-text);
      color: var(--c-text);
    }

    &_active {
      border-bottom: 1px solid var(--c-text);
      color: var(--c-text);
    }
  }
}
