.wrapper {
  margin: 0 auto;
  max-width: 1000px;
  padding: var(--margin-padding);

  @media (max-width: 768px) {
    padding: calc(var(--margin-padding) * 2);
  }

  @media (max-width: 576px) {
    padding: calc(var(--margin-padding) * 4);
  }
}
